*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
.gitignore
.idea/
**/classes/**
**/.classpath
**/.project
**/target
data/
idea-module-files/
log/
roles/
temp/
bbi
README.md
bin/ext-accelerator/**/*
bin/ext-addon/**/*
bin/ext-atdd/**/*
bin/ext-atddtests/**/*
bin/ext-backoffice/**/*
bin/ext-channel/**/*
bin/ext-cockpit/**/*
bin/ext-commerce/**/*
bin/ext-content/**/*
bin/ext-data/**/*
bin/ext-eventtracking/**/*
bin/ext-incubator/**/*
bin/ext-integration/**/*
bin/ext-platform-backoffice/**/*
bin/ext-platform-optional/**/*
bin/ext-print/**/*
bin/ext-supportability/**/*
bin/ext-template/**/*
bin/platform/**/*
lib/*
